.post-footer{
	font-size: em(14, 16);
	background-color: $color-bg-footer;
	font-family:  $font-family-first-header;
	text-transform: uppercase;
	color:$color-footer-text;
	letter-spacing: em(2, 14);

}

.created,
.contact {
	display: inline-block;
}

.contact {
	color: $color-footer-text;

	&:hover,
	&:focus {
		color: #1e1c1c;
		text-decoration: underline;
		}
}